@page
@model IndexModel
@{
    ViewData["Title"] = "Lights";
}


@* Create loop of lights with random colors *@
    <div class="light-bulb-grid">
        @for (var i = 0; i < Model.LIGHTBULBS.GetLength(0); i++)
        {
            <div class="light-bulb" id="bulb-@i" style="background-color: @Model.LIGHTBULBS[i,0];"></div>
        }
    </div>

@* Create button*@
<div class="control-panel">
    <button id="button">START</button>
    <div class="control-grid">
        @for (var i = 0; i < Model.LIGHTBULBS.GetLength(0); i++)
        {
        <h2>@Model.LIGHTBULBS[i, 1]</h2>
        <form>
            <label>Size</label>
            <input type="range" min="10" max="250" value="50" onchange="changeSize(this.value, 'bulb-@i')" />
            <label>Color</label>
            <input type="color" onchange="changeColor(this.value, 'bulb-@i')" />
        </form>
        }
    </div>
</div>
@*
    User Stories

        User can press a button to start and stop the display
        User can change the interval of time controlling the change in intensity

    Bonus features

        User can select the color used to fill each circle
        User can specify the intensity value
        User can change the size of any circle in the row [X]
        User can specify the number of rows to be included in the display. From one to seven rows can be chosen

*@