@page
@model IndexModel

@{
    ViewData["Title"] = "Lights";
}


    <div id="control-panel">
        <div id="control-panel-menu">
            <button id="button">START</button>
            <img src="~/img/close.svg" width="25" height="25" onclick="hideShowMenu('control-panel')" />
        </div>

            <form method="post">
                <input type="number" name="Rows" min="1" max="7" value="@Model.Rows"/>
                <input type="submit" value="Set Rows" />
            </form>
        
        <div class="controls-grid">
            @for (var i = 0; i < Model.Lightbulbs.GetLength(0); i++)
            {
                <h4>Lightbulb: @Model.Lightbulbs[i, 1]</h4>
                <form>
                    <label>Size</label>
                    <input type="range" min="10" max="100" value="50" onchange="changeSize(this.value, 'bulb-@i')" />
                    <label>Color</label>
                    <input type="color" value="@Model.Lightbulbs[i,0]" onchange="changeColor(this.value, 'bulb-@i')" />
                </form>
            }
        </div>
    </div>


@* Create loop of lights with colors *@
    <img src="~/img/settings.svg" alt="Settings" id="control-panel-show" width="25" height="25" />

@for (var e = 0; e < Model.Rows; e++)
{

    <div class="light-bulb-grid">
        @for (var i = 0; i < Model.Lightbulbs.GetLength(0); i++)
        {
            <div class="light-bulb bulb-@i" style="background-color: @Model.Lightbulbs[i, 0];"></div>
        }
    </div>
}
